.emoji_container {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

	.emoji_groups {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 45px;
		background: #d9d9e8;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.emoji_search {
		display: flex;
		justify-content: space-between;
		margin-left: 10px;
		margin-right: 10px;
		align-items: center;

		.emoji_search_box {
			display: flex;
			padding: 10px;
			width: 100%;
			border: 1px solid #ddd;
			.emoji_search_box_input {
				width: 100%;
				border: none;
				outline: none;
			}
			.emoji_search_icon {
				right: 0;
				cursor: default;
				background: white;
				font-size: 17px;
				border: none;
			}
		}
		.emoji_skin_tone_dropdown {
			position: relative;

			.emoji_skin_tone_list {
				position: absolute;
				display: block;
				border: 1px solid #d9d9e8;
				box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
				top: 0px;

			}
		}
	}

	.emoji_grid {
		height: 300px;
		display: grid;
		grid-template-columns: repeat(9,36px);
		gap: 2px;
		overflow-y: scroll;
		padding: 10px;
	}
}

#emoji_button { 
	font-size: 24px;
	display: inline-block;
	border: none;
	color: #008CBA;
	background-color: white;
	cursor: pointer;
	height: 35px;
	width: 100%;
}
