:root {
	color-scheme: light;
	background: #f9f9f9;
}

.top {
	h1,h2,h3 {
		text-align: center;
		a {
			text-decoration: none;
			color: inherit;
		}
		a:hover {
			color: #007940;
		}
	}
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1.2em;
	}
	h3 {
		margin: 10px auto 10px auto;
		width: fit-content;
		font-size: 1.0em;
		text-align: center;
		display: flex;
		justify-content: space-between;
		gap: 0.5em;
		div {
			a {
				text-decoration: none;
				color: inherit;
			}
			a:hover {
	 			filter: invert(0.5) sepia(1);
			}
		}
	}
	p {
		font-size: 1.0em;
		text-align: center;
	}

	.demo {
		display: flex;
		justify-content: center;
		.lhs {
			margin: 0 20px 0 0;
		}
		.rhs {
			margin: 0 0 0 20px;
			.dark-light {
				margin-top: 10px;
			}
			.emoji {
				display:flex;
				font-size: 8em;
				justify-content: center;
				align-items: center;
				height: 100%;
			}
		}
	}

	@media only screen and (max-width: 800px) {
	  .demo {
		flex-direction: column;
		align-items: center;
		.lhs {
			margin: 0 0 20px 0;
		}
		.rhs {
			margin: 20px 0 0 0;
		}
	  }
	}
}

.cube-icon:hover {
}

emoji-picker {
	--font-size: 18px;
	--emoji-size: 24px;
	--background: #f0f0f0;
	--background-dark: black;
	--border-color: #e0e0e0;
	--border-size: 2px;
	--border-radius: 5px;
	--box-shadow: none;
	--num-columns: 8;
	--num-rows: 7;
	/*prefers-color-scheme: dark;*/
}


